header#site-header {
	position: relative;
    background-image: linear-gradient(270deg, rgba(13, 133, 225, 0.7) 0%, rgba(14, 67, 107, 0.7) 100%),url(../assets/img/Image1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
	height: 520px;
	display: flex;
	justify-content: center;
	// align-items: center;
	overflow: hidden;
    .button-mediulas a{
        padding: 0;
    }
	.elpise-one{
		position: absolute;
		top:430px;
		width: 2530px;
	}
	.elpise-one-product{
		position: absolute;
		width: 2530px;
		top:200px
	
		
	}
	input{
		width: 185px;
		height: 29px;
		background: none;
		border: 1px solid #fff;
		border-radius: 20px;
		opacity: 70%;
		font-size: 12px;
		line-height: 14px;
		padding-left: 15px;
	}
	
	.fixed-nav & {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: .3s ease-out;
		z-index: 100;
	}
	a{
		color: #fff;
		padding:10px 0 10px 34px; 
	}
	a:hover{
		opacity: 70%;
	}
.header-title{
	display: flex;
	padding-top: 124px;
	padding-left: 100px;
	h2{
		
		font-size: 54px;
		color: #fff;
		line-height: 27px;
		font-weight: 100;
	}
	p{
		font-size: 24px;
		color: #fff;
		padding-left: 45px;
		line-height: 21px;
		font-weight: 100;

	}
}
	.fixed-nav.scrolled & {
		background: #fff;
	}
	
	.header-wrap {
		min-height: $header-height;
		padding-top: .5rem;
		padding-bottom: .5rem;
		
		.fixed-nav & {
			transition: 0.3s ease-out;
		}
		.fixed-nav.scrolled & {
			min-height: $header-height-scrolled;
		}
	
	}
	.logo-wrap {
		margin-top: 20px;
	}
}

.button-mediulas{
	display: flex;
	justify-content: center;
	position: absolute;
	top:24px;
	right: 100px;
	
	p{
		font-size: 10px;
		text-align: center;
		line-height: 11px;
		padding: 10px 10px;
		color: #fff;
		opacity: 70%;
	}
	button{
		width: 118px;
		height: 29px;
		font-size: 12px;
		line-height: 14px;
		background-color: #48BDE9;
		border-radius: 20px;
		padding: 5px;
		margin-right: 27px;
        color: #fff;
        
		img{
			margin-left: 5px;
        }
      
	}
}
header#site-header .header-wrap{
	padding-top:30px;
}
.search-menu{
	position: relative;
	img{
		width: 17px;
		position: absolute;
		top:5px;
		right: 15px;
	}
	
}

main#site-wrap{
    position: relative;
    img{
        position: absolute;
        z-index: 1;
        top:-100px
    }
}
.grid-container{
    overflow: hidden;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.large-6{
    width: 50%;
}

.data{
    padding-top: 19px;
    font-size: 12px;
    line-height: 15px;
}
.title-data{
    font-size: 13px;
    line-height: 21px;
    color: #1C69A4;
}
.text-main{
    font-size: 13px;
    line-height: 15px;
    color: #707070;
}
.photo-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .card-section{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;

    }
}
.card{
    width: 215px;
    height: 200px;
    background-color: #E8E8E8;
}

.box-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

.card-box{
    width: 25%;
    
    .card-image{
        width: 90%;
        height: 200px;
        background-color: #707070;
    }


}
}

.descripction{
	position: relative;
	margin-top: 50px;
}
.description-bg-box{
    background-image: url(../assets/img/Intersection2.jpg);
    min-height: 400px;
}
@media(max-width:1000px){
    .box-container .card-box{
        width: 50%;
}}

@media(max-width:1100px){
	.button-mediulas{
		display: none;
	}
}





