section{
    z-index: 1;
    overflow: none;
    .card-box{
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .title-page-p{
        font-size: 54px;
        font-weight: 100;
        color: #707070;
        line-height: 27px;
        padding-bottom: 100px;
    }
    ul{
        margin: 0;
    }
    ul li{
        color: #1C69A4;
        list-style: none;
        font-size: 13px;
        line-height: 15px;
        font-weight: 500;
        padding: 10px 0;
    }
}


.product-page1{
    width: 100%;
    position: relative;
    top:-200px;
}
.product-page1-photo{
    background-color: #E8E8E8;
    width: 200px;
    height: 191px;
}
.product-page1-photo:hover{
    background-color: #FFD6D6;
}
.menu-list{
  p{
        font-size: 24px;
        line-height: 21px;
        color: #707070;
        font-weight: 100;
    }
}
.serch-box{
    position: relative;
    width: 100%;
    opacity: 70%;
   
    input{
        opacity: 70%;
    border: none;
    border-bottom: 1px solid #707070 ;
    font-size: 24px;
    font-weight: 100;
 
    }
    input:active{
        border:none;
        border-bottom: 1px solid #707070 ;
    }
    input:focus{
        border:none;
        border-bottom: 1px solid #707070 ;
    }
    img{
        position: absolute;
        top:10px;
        right: 0;
    }
}


.footer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
    p{
       padding-left: 36px;
       font-size: 13px;
       height: 21px;
    }
    img{
        position: relative;
        width: 301px;
        height: 51px;
    }
    a{
        color: #1C69A4;
    }
}
.photo-box-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header#site-header .header-wrap{
	padding-top:30px;
}
.search-menu{
	position: relative;
	img{
		width: 17px;
		position: absolute;
		top:5px;
		right: 15px;
	}
	
}
.descripction-text{
    padding: 0 15px;
}
